<p id="notice"><%= notice %></p>

<p>
  <strong>Emp no:</strong>
  <%= @deptemp.emp_no %>
</p>

<p>
  <strong>Dept no:</strong>
  <%= @deptemp.dept_no %>
</p>

<p>
  <strong>From date:</strong>
  <%= @deptemp.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @deptemp.to_date %>
</p>

<%= link_to 'Edit', edit_deptemp_path(@deptemp) %> |
<%= link_to 'Back', deptemps_path %>
