<p id="notice"><%= notice %></p>

<p>
  <strong>Dept no:</strong>
  <%= @deptmanager.dept_no %>
</p>

<p>
  <strong>Emp no:</strong>
  <%= @deptmanager.emp_no %>
</p>

<p>
  <strong>From date:</strong>
  <%= @deptmanager.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @deptmanager.to_date %>
</p>

<%= link_to 'Edit', edit_deptmanager_path(@deptmanager) %> |
<%= link_to 'Back', deptmanagers_path %>
