<h1>Listing Employees of each Title</h1>
<h3> Department Manager</h3>
<%= @employee_id.first_name%> <%= @employee_id.last_name%>

<br> 
<br>

<table>
  <thead>
    <tr>
	  <th>Emp No</th>
	  <th>First Name</th>
      <th>Last Name</th>
	  <th>Salary</th>      
    </tr>
</thead>

  <tbody>
    <% @depts.each do |dept| %>
      <tr>
	    <td><%= dept.emp_no %></td>
        <td><%= Employee.find_by_emp_no(dept.emp_no).first_name %></td>   
	    <td><%= Employee.find_by_emp_no(dept.emp_no).last_name %></td>
		<td><%= Salarie.find_by_emp_no(dept.emp_no).salary %></td>
      </tr>
    <% end %>
	
  </tbody>
</table>